<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>Post in Detail</h1>
    <div>
        <h2>Id : <%= post.id %></h2>
        <h2>@<%= post.username %></h2>
        <h3><%= post.content %></h3>
        <button><a href="/posts">Back</a></button>
    </div>
</body>
</html>